body {
    background-color: antiquewhite;
}

img {
    width: 50%;
}

/* Za širinu ekrana ispod 700px */
@media only screen and (max-width:700px) {
    img {
        width: 100%;
    }
}

/* za širinu ekrana izmedju 500px i 700px */
@media only screen and (min-width:500px) and (max-width:700px) {
    p {
        color: purple;
    }
}